/* aside-panel */
.aside-panel {
  position: absolute;
  right: 0px;
  top: 0;
  width: 15%;
  height: 100vh;
  z-index: 5;
  overflow: hidden;
}

.aside-panel__panel {
  border-left: 2px solid hsla(0, 0%, 56.9%, 0.2);
  width: 100%;
  height: 100%;
}

.aside-panel:hover .aside-panel__panel {
  background: #000;
  transition: all 0.5s;
}
/* end aside-panel */