/* about */
.about-details {
  min-width: 100%;
  min-height: 100%;
  background: #0a0a0a;
  display: flex;
  line-height: 1.15;
  font-family: Candara, Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.about-details__photo {
  width: 35%;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.distortion {
  width: 100%;
  flex-basis: 35%;
}

.img-box img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  width: 100%;
}

.img-box img:nth-child(1) {
  filter: blur(10px);
  opacity: 1;
  transform: translateX(50%) scaleX(2);
}

.img-box:hover img:nth-child(1) {
  filter: blur(0);
  opacity: 1;
  transform: translateX(0) scaleX(1);
}

.img-box:hover img:nth-child(2) {
  filter: blur(10px);
  opacity: 0;
  transform: translateX(-50%) scaleX(2);
}

.about-details__content {
  width: 50%;
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 16%;
}

.content__box-title .box__title {
  margin-right: 130px;
  width: 165px;
  flex-basis: 165px;
  flex-grow: 0;
  flex-shrink: 0;
  color: #fff;
}

.content__box {
  margin-bottom: 120px;
  display: flex;
}

.content__box .box__details {
  width: calc(100% - 165px);
}

.content__box-title .content__title {
  margin: 0 0 0 -4px !important;
}

.content__title {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__title .content__title-lead {
  margin: 0;
  padding: 0;
  font-size: 110px;
  text-transform: uppercase;
  font-family: Playfair Display, serif;
  font-weight: 400;
  line-height: 100px;
  color: #fff;
}

.content__box .box__title {
  border-top: 1px dotted #fff;
  width: 165px;
  margin-right: 130px;
  flex-basis: 165px;
  flex-grow: 0;
  flex-shrink: 0;
}

.content__box-title .box__title {
  border: none;
}

.content__box .box__title > h3 {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.box__details-about p {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}

.tag {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  margin-bottom: 25px;
}

.tag__hash {
  margin-right: 25px;
}

/* about-slider */
.about__slider-wrapper {
  width: 100%;
  padding-top: 39px;
}

.about__slider-wrapper.off {
  display: none;
}

/************************
*************************
************************/

/* MEDIA*/

@media (max-width: 1650px) {
  .about-details {
    flex-direction: column;
  }
  .img-box img {
    height: auto;
  }
  .about-details__photo {
    height: 60vh;
    width: 85%;
  }
  .about-details__content {
    padding-right: 1%;
    padding-top: 2%;
  }
}
@media (max-width: 1180px) {
  .about-details__content {
    width: 75%;
  }
}
@media (max-width: 800px) {
  .about-details__content {
    padding-right: 0;
    padding-left: 20px;
  }
  .content__box .box__title {
    margin-right: 30px;
  }
  .about-details {
    padding-right: 120px;
  }
  .about-details__photo {
    width: 98%;
  }
}
@media (max-width: 600px) {
  .about-details {
    padding-right: 87px;
  }
  .about-details__photo {
    width: 97.5%;
  }
}
@media (max-width: 520px) {
  .content__box-title .box__title {
    margin-right: 130px;
    width: 100px;
    flex-basis: 165px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .sidebar-cover {
    display: none;
  }
  .link1,
  .link2,
  .link3,
  .link4,
  .link5 {
    top: 10%;
    left: 45%;
    text-align: center;
  }
  .link2 {
    margin-top: 110px;
  }
  .link4 {
    margin-top: 217px;
  }
  .link5 {
    margin-top: 323px;
  }
  .about-details__content {
    padding-top: 0;
  }
  .content__box-title .box__title {
    display: none;
  }
  .content__box .box__title {
    flex-basis: 0;
  }
  .content__box {
    margin-bottom: 70px;
    /* flex-direction: column; */
  }
  .content__box .box__details {
    width: 100%;
  }
  .about-details__photo {
    width: 100%;
  }
  .content__title .content__title-lead {
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  /* .content__box {
    flex-direction: column;
  } */
  .about-details__photo {
    height: 50vh;
    width: 98%;
  }
  .about-details {
    padding-right: 66px;
  }
}
@media (max-width: 375px) {
  .about-details__photo {
    width: 100%;
  }
}
@media (max-width: 370px) {
  .about-details__photo {
    height: 35vh;
  }
  .hamburger {
    width: 40px;
  }
}
@media (max-width: 370px) {
  .about-details__photo {
    width: 103%;
  }
}
@media (max-width: 320px) {

}





