@font-face {
  font-family: Butler;
  src: url(../.././../../assets/fonts/Butler-Font/Butler_Regular.otf);
}

.nav-menu {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 70px;
  font-size: 25px;
  z-index: 3;
  margin-bottom: -6px;
}

.nav-menu__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  max-width: 1100px;
  padding-left: 70px;
  padding-right: 250px;
}

.nav-menu__items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  right: 50%;
}

.nav-span {
  position: relative;
  height: 20px;
  height: 100%;
  font-weight: 600;
  color: #fff;
  font-family: Butler, Helvetica, sans-serif;
  text-decoration: none;
}

.nav-menu__items-delay {
  animation-delay: 1.5s;
}

.nav-menu.off {
  display: none;
}

/* MEDIA */
@media (max-width: 1400px) {
  .nav-menu__items {
    justify-content: center;
  }
  .nav-menu__item {
    margin-right: 200px;
  }
}

@media (max-width: 1160px) {
  .nav-menu__items {
    justify-content: center;
  }
  .nav-menu__item {
    margin-right: 160px;
  }
}

@media (max-width: 1024px) {
  .home-page__titles {
    left: 40%;
  }
  .home-page__title {
    font-size: 8vw;
  }
  .home-page__subtitle {
    font-size: 2vw;
  }
  .nav-menu__items {
    justify-content: start;
  }
  .nav-menu__item {
    margin-left: 20px;
    margin-right: 150px;
  }
}

@media (max-width: 1023px) {
  .nav-menu__item {
    margin-left: 20px;
    margin-right: 100px;
  }
}

@media (max-width: 886px) {
  .nav-menu__item {
    margin-left: 20px;
    margin-right: 80px;
  }
}

@media (max-width: 835px) {
  .nav-menu__item {
    margin-left: 20px;
    margin-right: 60px;
  }
}


@media (max-width: 720px) {
  .nav-menu__items {
    display: none;
  }
}

@media (max-width: 414px) {
  .home-page__titles {
    left: 43%;
  }
  .home-page__title {
    font-size: 60px;
  }
  .home-page__subtitle {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .home-page__title {
    font-size: 50px;
  }
  .home-page__subtitle {
    font-size: 15px;
  }
}
